// THIS STYLE IS REQUIRED BY INDEX PAGE

@import "./components/variable";
@import "./components/common";
@import "./components/timeline-layout";

nav{
  font-size: 16px !important;
  // background: rgba(255, 255, 255, 0.7) !important;
}
// HERO(CAROUSEL)
section {
  overflow: hidden;
  &#hero {
    display: block;
    margin: unset;
    padding: unset;
    .carousel-item img {
      height: 100vh;
    }
  }

  // COMPANY DESCRIPTION
  &#bio {
    padding-top: 4em;
    min-height: 70vh;
    #biologo{
      max-width: 100%;
    }
  }

  // SERVICES
  &#feat {
    position: relative;
    background: $lgreyColor;
    background: linear-gradient(rgba($color: $lgreyColor, $alpha: 1) 0%, rgba(255, 255, 255, 0) 100%);
    .separator-feat {
      position: absolute;
      top: 0;
      left: 0;
      height: 20vh;
      width: 100%;
      clip-path: ellipse(66% 68% at 65% 7%);
      background: white;
    }
    div[class^="col-"] {
      a {
        color: $primColor;
        text-decoration: none;
        img.servIcon {
          height: 11.25em;
          margin: 3.25em 0;
          width: auto;
          filter: grayscale(100);
          transition: all ease-in-out 0.25s;
        }
        &:hover {
          img.servIcon {
            filter: grayscale(0) contrast(1.5) brightness(0.9);
            height: 12.5em;
            margin: 2.625em 0;
          }
        }
      }
    }
  }

  // CLIENT
  &#client {
    position: relative;
    svg {
      position: absolute;
      top: 60%;
      left: 0;
    }
    .card {
      margin: 1em 0;
      transition: all 0.25s ease-in-out;
      border: $primBorder;
      box-shadow: $primShadow;
      &:hover {
        transform: scale(1.05);
        border-color: rgba($color: $primColorAlt, $alpha: 0.2);
        .card-body {
          background: rgba($color: $primColor, $alpha: 0.025);
        }
      }
      .card-body {
        transition: all 0.25s ease-in-out;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        .card-img-top {
          width: 80%;
          height: auto;          
        }
      }
    }
  }
}

@media (min-width: map-get($grid-breakpoints, md)) {  
  .card-img-top {
    width: auto;
    height: 80%;
  }
  .timeline-item{
    .timeline-body{
      img {
        width: 50% !important;
      }
    }
  }
}
