@import "./components/variable";
@import "./components/common";
@import "./components/software_services-layout";

section {  
  
  // HERO
  &#hero {
    background: url("../img/network/hero.png");
    background-position-x: center;
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      #hero-title {
        color: $primColor;
        text-align: center;
        font-weight: 600;
        width: fit-content;
        text-shadow: 2px 2px 2px rgba($color: $darkColor, $alpha: 0.5);
      }
      #hero-text {
        text-align: center;
      }
      #hero-more {
        width: fit-content;
        padding: 0.5em 1em;
        text-align: center;
        color: $primColor;
        border: 1px solid $primColor;
        border-radius: 0.2em;
      }
    }
  }

  // SERVICES
  &#services{
    padding-top: 6em;
    min-height: unset;
  }

  // SECURITY SERVICES
  &#sec-services{
    .secservices-list{
      display: flex;
      list-style: none;
      flex-direction: row;
      margin: unset;
      padding: unset;
      .list-item{
        margin-top: 2.5em;
        width: percentage($number: 1/4);
        transition: all 0.25s ease-in-out;        
        &:hover{          
          transform: scale(1.05);
          cursor: pointer;       
          .list-body{
            border-color: rgba($color: $primColorAlt, $alpha: 0.2);
          }   
        }
        .list-body{
          display: flex;
          flex-direction: column;
          align-items: center;
          border-radius: 0.5em;
          background: white;
          background-image: url('../img/network/services/Rectangle 39.png');
          background-size: cover;
          background-position-x: center;
          background-position-y: center;
          margin: 0 1em;
          padding: 4em 1em 2em 1em;
          height: 100%;
          border: 0.0625em solid rgba($color: $darkColor, $alpha: 0.075);
          box-shadow: $primShadow;
          img{
            height: 10em;
          }
          p{
            padding-top: 0.5em;
            text-align: center;
            transition: all 0.25s ease-in-out;
            margin: 0;
            font-weight: 400;
            color: $darkGreyColor;
          }
        }
      }
    }
  }

  // PRODUCT LIST
  &#product-list{
    div[class^=col-]{
      img{
        width: 80%;
      }
    }
  }
}