@import "./components/variable";
@import "./components/common";
@import "./components/software_services-layout";

section {
  .section-title{
    margin-top: 1em;
    margin-bottom: 3em;
  }
  &#hero {
    background: url("../img/software/hero.png");
    background-position-x: center;
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      #hero-title {
        color: $primColor;
        text-align: center;
        font-weight: 600;
        width: fit-content;
        text-shadow: 2px 2px 2px rgba($color: $darkColor, $alpha: 0.5);
      }
      #hero-text {
        text-align: center;
      }
      #hero-more {
        width: fit-content;
        padding: 0.5em 1em;
        text-align: center;
        color: $primColor;
        border: 1px solid $primColor;
        border-radius: 0.2em;
      }
    }
  }
  &#whyus{
    position: relative;
    svg {
      position: absolute;
      top: 60%;
    }
    .whyus-list{
      display: flex;
      list-style: none;
      flex-direction: row;
      margin: unset;
      padding: unset;
      .list-item{
        margin-top: 2.5em;
        width: percentage($number: 1/5);
        transition: all 0.25s ease-in-out;
        filter: grayscale(1);
        &:hover{
          color: $primColor;
          filter: grayscale(0);
          transform: scale(1.05);
          cursor: pointer;          
        }
        .list-body{
          display: flex;
          flex-direction: column;
          align-items: center;
          border-radius: 0.5em;
          background: white;
          margin: 0 0.5em;
          padding: 2em 1em;
          height: 100%;
          border: 0.0625em solid rgba($color: $darkColor, $alpha: 0.075);
          box-shadow: 0 0.125em 1em 0.125em rgba($color: $darkColor, $alpha: 0.1);
          img{
            height: 7em;
          }
          p{
            text-align: center;
            transition: all 0.25s ease-in-out;
            margin: 0;
          }
        }
      }
    }
  }

  &#how{
    position: relative;
    .section-title{
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      position: absolute;
    }
    background: url('../img/software/how1.png');
    background-repeat: no-repeat;
    background-position-y: 6em;
    background-position-x: center;
    background-size: 60%;
  }
}

// OVERRIDE
.title-underline {
  background: $primColor !important;
}

.whyus-list.gradient .list-item:hover .list-body::before {
  opacity: 1;
}