@import 'variable';

.service{
  margin: 1em 0;  
  .service-body{
    margin: 2em 0;
    .service-text{
      @media (min-width: map-get($grid-breakpoints, md)) {
        height: 100%;
        background: white;
        padding: 1em;
        border-radius: 0.5em;
        border: $primBorder;
        box-shadow: $primShadow;
        position: relative;
      }
      @media (min-width: map-get($grid-breakpoints, md)) {
        .arrow-left, .arrow-right{
          position: absolute;
          top: calc(50% - 0.75em);
          left: calc(-1.5em + 0.77em);
          width: 1.5em;
          height: 1.5em;
          background: white;
          box-shadow: $primShadow;
          border: $primBorder;
          border-color: rgba($color: $darkColor, $alpha: 0.2);
          clip-path: polygon(0 0, 0 100%, 100% 100%);        
          transform: rotate(45deg);        
        }
        .arrow-right{
          position: absolute;        
          left: unset;
          right: calc(-1.5em + 0.77em);
          transform: rotate(225deg);
        }
      }
    }
    .service-img{
      // transition: all ease-in-out 1.2s;
      border: $primBorder !important;
      box-shadow: $primShadow !important;      
      .card-img{                
        img{          
          height: 30vh;
          margin: 1em;
        }        
      }
      .service-feature{
        display: none;
        transition: all ease-in-out 0.5s;
        margin: 0;
        padding: 1em !important;
        &.active{
          display: block;
        }
        li{
          padding: unset;
          margin: unset;
          list-style: none;
          &::before{
            content: "✔  ";
            color: $primColor;            
            margin-right: 1em;
          }
        }        
      }      
    }  
    .service-nav{
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: unset;
      padding: unset;
      margin-top: 0.5em;
      .service-nav-item{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5em;
        margin: 0.125em;
        height: 5em;
        color: $darkColor;
        background: white;
        border: $primBorder !important;
        box-shadow: $primShadow !important;
        &.active{
          color: white;          
          border-color: rgba($color: $primColorAlt, $alpha: 0.5) !important;
        }
        &:hover{
          cursor: pointer;
        }
        img{                    
          width: 80%;
          height: auto;
        }
      }
    }  
  }
}