$darkGreyColor: #757575;
$darkColor: #212121;
$primColor: #f44336;
$primColorAlt: #ff7043;
$lgreyColor: #f5f5f5;
$primBorder: 0.0625em solid rgba($color: $darkColor, $alpha: 0.1);
$primShadow: 0 0.125em 0.1em rgba($color: $darkColor, $alpha: 0.1);
$breakSmall: 576px;

$grid-breakpoints: (  
  xs: 0,  
  sm: 576px,  
  md: 768px,  
  lg: 992px,  
  xl: 1200px
);