@charset "UTF-8";
* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

p {
  font-size: 1.2em !important;
  line-height: 1.8em !important;
}

a:hover {
  cursor: pointer;
}

.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.75s;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

nav#navlogo {
  width: auto;
  height: 32px;
}

nav a.navbar-brand img {
  width: 200px;
}

nav a.nav-link {
  line-height: inherit;
}

nav .nav-link.active {
  color: #f44336 !important;
}

nav #biologo {
  width: 60%;
}

section {
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5em 0.75em;
}

section p {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.5em;
}

section.titled-section {
  padding-top: 2.4em;
  padding-bottom: 6.4em;
}

section.titled-section .section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5em 0;
}

section.titled-section .section-title .title-body {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.titled-section .section-title .title-body .title-text {
  display: inline;
  font-weight: 500;
  text-indent: 0.5em;
  letter-spacing: 0.5em;
  color: #555555;
  padding: 0.25em 0.5em;
  text-align: center;
}

section.titled-section .section-title .title-body .title-underline {
  display: block;
  height: 0.2em;
  width: 60%;
  margin-top: 0.5em;
  background: #f44336;
}

footer {
  background: #212121;
}

footer p {
  font-size: 1em !important;
}

footer strong {
  border-bottom: 0.1em solid #f44336;
}

.vertical-list {
  list-style: none;
}

.vertical-list .list-item {
  margin: 1em;
  -webkit-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
}

.vertical-list .list-item.active {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.vertical-list .list-item.active .list-body {
  position: relative;
  color: white;
  background: #f44336;
}

.vertical-list .list-item.active .list-body .list-arrow {
  opacity: 1;
}

.vertical-list .list-item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.vertical-list .list-item .list-body {
  padding: 1.5em 2em;
  border-radius: 0.5em;
  border: 0.0625em solid rgba(33, 33, 33, 0.075);
  -webkit-box-shadow: 0 0.125em 1em 0.125em rgba(33, 33, 33, 0.1);
          box-shadow: 0 0.125em 1em 0.125em rgba(33, 33, 33, 0.1);
  -webkit-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
}

.vertical-list .list-item .list-body .list-arrow {
  opacity: 0;
  position: absolute;
  top: calc(50% - 0.75em);
  right: calc(-1.5em + 0.77em);
  width: 1.5em;
  height: 1.5em;
  background: #f44336;
  border: 0.0625em solid rgba(33, 33, 33, 0.075);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%);
  -webkit-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.horizontal-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 0.5em;
  -webkit-box-shadow: 0 0.5em 1em 0.125em rgba(33, 33, 33, 0.05);
          box-shadow: 0 0.5em 1em 0.125em rgba(33, 33, 33, 0.05);
}

.horizontal-list .list-item {
  padding: 1em;
}

.horizontal-list .list-item.active {
  -webkit-box-shadow: inset 0 -0.3em 0.5em rgba(33, 33, 33, 0.1);
          box-shadow: inset 0 -0.3em 0.5em rgba(33, 33, 33, 0.1);
}

.horizontal-list.overflow {
  overflow-x: hidden;
}

.horizontal-list::-webkit-scrollbar {
  width: 12px;
}

.horizontal-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.horizontal-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.hero-container {
  display: none;
}

.hero-container.active {
  display: block;
}

.hero-container .hero-image {
  z-index: -1;
  position: relative;
  margin-top: 1em;
  height: 30em;
  width: 100%;
  overflow: hidden;
  border-radius: 0.5em;
  -webkit-box-shadow: 0 0.125em 1em 0.125em rgba(33, 33, 33, 0.1);
          box-shadow: 0 0.125em 1em 0.125em rgba(33, 33, 33, 0.1);
}

.hero-container .hero-image .image-img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: auto;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero-container .hero-image .image-text {
  position: absolute;
  padding: 1em;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  bottom: 0;
  background: rgba(255, 255, 255, 0.9);
}

.hero-container .hero-image .image-text .featured-list {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.hero-container .hero-image .image-text .featured-list li:before {
  content: "✔  ";
  color: #f44336;
  margin-left: 1em;
  margin-right: 1.5em;
}

section#hero {
  background: url("../img/software/hero.png");
  background-position-x: center;
}

section#hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#hero .container #hero-title {
  color: #ff5722;
  text-align: center;
  font-weight: 600;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-shadow: 2px 2px 2px rgba(33, 33, 33, 0.5);
}

section#hero .container #hero-text {
  text-align: center;
}

section#hero .container #hero-more {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5em 1em;
  text-align: center;
  color: #ff5722;
  border: 1px solid #ff5722;
  border-radius: 0.2em;
}

.title-underline {
  background: #ff5722 !important;
}
/*# sourceMappingURL=software.css.map */