@charset "UTF-8";
.service {
  margin: 1em 0;
}

.service .service-body {
  margin: 2em 0;
}

@media (min-width: 768px) {
  .service .service-body .service-text {
    height: 100%;
    background: white;
    padding: 1em;
    border-radius: 0.5em;
    border: 0.0625em solid rgba(33, 33, 33, 0.1);
    -webkit-box-shadow: 0 0.125em 0.1em rgba(33, 33, 33, 0.1);
            box-shadow: 0 0.125em 0.1em rgba(33, 33, 33, 0.1);
    position: relative;
  }
}

@media (min-width: 768px) {
  .service .service-body .service-text .arrow-left, .service .service-body .service-text .arrow-right {
    position: absolute;
    top: calc(50% - 0.75em);
    left: calc(-1.5em + 0.77em);
    width: 1.5em;
    height: 1.5em;
    background: white;
    -webkit-box-shadow: 0 0.125em 0.1em rgba(33, 33, 33, 0.1);
            box-shadow: 0 0.125em 0.1em rgba(33, 33, 33, 0.1);
    border: 0.0625em solid rgba(33, 33, 33, 0.1);
    border-color: rgba(33, 33, 33, 0.2);
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%);
            clip-path: polygon(0 0, 0 100%, 100% 100%);
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .service .service-body .service-text .arrow-right {
    position: absolute;
    left: unset;
    right: calc(-1.5em + 0.77em);
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
  }
}

.service .service-body .service-img {
  border: 0.0625em solid rgba(33, 33, 33, 0.1) !important;
  -webkit-box-shadow: 0 0.125em 0.1em rgba(33, 33, 33, 0.1) !important;
          box-shadow: 0 0.125em 0.1em rgba(33, 33, 33, 0.1) !important;
}

.service .service-body .service-img .card-img img {
  width: 80%;
  height: auto;
  margin: 1em;
}

@media (min-width: 992px) {
  .service .service-body .service-img .card-img img {
    height: 30vh;
    width: auto;
  }
}

.service .service-body .service-img .service-feature {
  display: none;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  margin: 0;
  padding: 1em !important;
}

.service .service-body .service-img .service-feature.active {
  display: block;
}

.service .service-body .service-img .service-feature li {
  padding: unset;
  margin: unset;
  list-style: none;
}

.service .service-body .service-img .service-feature li::before {
  content: "✔  ";
  color: #f44336;
  margin-right: 1em;
}

.service .service-body .service-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: unset;
  padding: unset;
  margin-top: 0.5em;
}

.service .service-body .service-nav .service-nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(33.33333% - 0.375em);
  margin: 0.125em;
  height: 5em;
  color: #212121;
  background: white;
  border: 0.0625em solid rgba(33, 33, 33, 0.1) !important;
  -webkit-box-shadow: 0 0.125em 0.1em rgba(33, 33, 33, 0.1) !important;
          box-shadow: 0 0.125em 0.1em rgba(33, 33, 33, 0.1) !important;
}

@media (min-width: 576px) {
  .service .service-body .service-nav .service-nav-item {
    width: calc(25% - 0.5em);
  }
}

@media (min-width: 992px) {
  .service .service-body .service-nav .service-nav-item {
    width: calc(20% - 0.625em);
  }
}

@media (min-width: 1200px) {
  .service .service-body .service-nav .service-nav-item {
    width: calc(16.66667% - 0.75em);
  }
}

.service .service-body .service-nav .service-nav-item.active {
  color: white;
  border-color: rgba(255, 112, 67, 0.5) !important;
}

.service .service-body .service-nav .service-nav-item:hover {
  cursor: pointer;
}

.service .service-body .service-nav .service-nav-item img {
  width: 80%;
  height: auto;
}
/*# sourceMappingURL=software_services-layout.css.map */