$darkColor: #212121;
$primColor: #c62828;
$lgreyColor: #f5f5f5;

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

p {
  font-size: 1.2em !important;
  line-height: 1.8em !important;
}

nav {
  &#navlogo {
    width: auto;
    height: 32px;
  }
  a {
    &.navbar-brand img {
      width: 200px;
    }
    &.nav-link {
      line-height: inherit;
    }
  }
  .nav-item.nav-link.active {
    color: $primColor !important;
  }
  #biologo {
    width: 60%;
  }
}

section {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5em 0.75em;
  p {
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.5em;
  }
  &.titled-section {
    padding-top: 2.4em;
    padding-bottom: 6.4em;
    .section-title {
      text-align: center;
      padding: 1.5em 0;
      .title-text {
        display: inline;
        font-weight: 500;
        text-indent: 0.5em;
        letter-spacing: 0.5em;
        color: #555555;
        padding: 0.25em 0.5em;
        text-align: center;
        border-bottom: 0.125em solid $primColor;
      }
    }
  }
  &.silver-section {
    background: url("../img/section.png");
  }
  &#hero {
    display: block;
    margin: unset;
    padding: unset;
    .carousel-item img {
      height: 100vh;
    }
  }
  &#bio {
    padding-top: 4em;
    min-height: 70vh;
  }
  &#feat {
    position: relative;
    background: $lgreyColor;
    background: linear-gradient(135deg, rgba($color: $lgreyColor, $alpha: 1) 0%, rgba(255, 255, 255, 0) 100%);
    .separator-feat {
      position: absolute;
      top: 0;
      left: 0;
      height: 20vh;
      width: 100%;
      clip-path: ellipse(66% 68% at 65% 7%);
      background: white;
    }
    div[class^="col-"] {
      img.servIcon {
        height: 11.25em;
        margin: 3.25em 0;
        width: auto;
        filter: grayscale(100);
        transition: all ease-in-out 0.5s;
      }
      &:hover {
        img.servIcon {
          filter: grayscale(0);
          height: 12.5em;
          margin: 2.625em 0;
        }
      }
    }
  }
  &#strength {
    .strength {
      position: relative;
      padding: unset;
      margin-top: 5em;
      span.vr {
        z-index: -1;
        position: absolute;
        left: calc(50% - 0.1em);
        width: 0.2em;
        border-radius: 4em;
        background: rgba($color: $darkColor, $alpha: 0.125);
      }
      li {
        position: relative;
        list-style: none;
        width: 50%;
        .list-body {
          background: white;
          border-radius: 0.5em;
          border: 0.0625em solid rgba($color: $darkColor, $alpha: 0.075);
          box-shadow: 0 0.125em 1em 0.125em rgba($color: $darkColor, $alpha: 0.1);
          .img{
            display: flex;   
            align-items: center;
            justify-content: center;
            padding: 1.25em;
            img{
                height: auto;
                width: 100%;
            }
           }
           .txt{
            padding: 1.25em;
        }
        }
        span.arrow {
          position: absolute;
          top: 3.75em;
          width: 1.5em;
          height: 1.5em;
          background: white;
          border: 0.0625em solid rgba($color: $darkColor, $alpha: 0.075);
          clip-path: polygon(0 0, 100% 0, 100% 100%);
        }
        span.dot {
          position: absolute;
          top: 4em;
          width: 1em;
          height: 1em;
          border-radius: 2em;
          border: 0.0625em solid rgba($color: $darkColor, $alpha: 0.075);
          background: $lgreyColor;
        }
        &:nth-child(odd) {
          float: left;
          margin-bottom: 4em;
          .list-body {
            margin-right: 3em;
          }
          .img{
              border-right: 0.1em solid rgba($color: $darkColor, $alpha: 0.125);
          }
          span.arrow {
            transform: rotate(45deg);
            right: 2.4em;
          }
          span.dot {
            right: -0.5em;
          }
        }
        &:nth-child(even) {
          float: right;
          margin-top: 4em;
          margin-bottom: 2em;
          .list-body {
            margin-left: 3em;
          }
          .img{
            border-left: 0.1em solid rgba($color: $darkColor, $alpha: 0.125);
            }
          span.dot {
            left: -0.5em;
          }
          span.arrow {
            transform: rotate(225deg);
            left: 2.4em;
          }
        }
      }
      .separator {
        position: absolute;
        height: 100%;
        width: 1em;
        background: $darkColor;
      }
    }
  }
  &#client {
    position: relative;
    svg{
      position: absolute;
      top: 60%;  
    }
    .card {
      margin: 1.75em 0;
      .card-body {
        height: 13.625em;
        padding: 3em 0;
        .card-img-top {
          height: 100%;
          width: auto;
        }
      }
    }
  }
}

footer {
  background: $darkColor;
  p {
    font-size: 1em !important;
  }
  strong{
      border-bottom: 0.1em solid $primColor;
  }
}

.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.75s;
  animation-delay: 0.25s;
}

.gone {
  opacity: 0;
}
