.timeline {
  position: relative;
  padding: unset;
  margin-top: 5em;
}

.timeline .timeline-vr {
  z-index: -1;
  position: absolute;
  top: 0;
  left: calc(50% - 0.1em);
  width: 0.2em;
  border-radius: 4em;
  background: rgba(33, 33, 33, 0.125);
}

.timeline .timeline-item {
  position: relative;
  list-style: none;
  width: 100%;
  padding: 1em;
}

.timeline .timeline-item:hover {
  cursor: pointer;
}

.timeline .timeline-item:hover .timeline-body {
  -webkit-transform: scale(1.05) !important;
          transform: scale(1.05) !important;
  color: white;
}

.timeline .timeline-item:hover .timeline-body .timeline-img {
  -webkit-filter: invert(100%) brightness(300%);
          filter: invert(100%) brightness(300%);
}

.timeline .timeline-item:hover .timeline-arrow {
  background: #f44336;
}

.timeline .timeline-item:hover .timeline-dot {
  background: #f44336;
}

.timeline .timeline-item .timeline-body {
  position: relative;
  border-radius: 0.5em;
  border: 0.0625em solid rgba(33, 33, 33, 0.1);
  -webkit-box-shadow: 0 0.125em 0.1em rgba(33, 33, 33, 0.1);
          box-shadow: 0 0.125em 0.1em rgba(33, 33, 33, 0.1);
  -webkit-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
}

.timeline .timeline-item .timeline-body .timeline-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.25em;
  -webkit-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
}

.timeline .timeline-item .timeline-body .timeline-img img {
  height: auto;
  width: 100%;
}

.timeline .timeline-item .timeline-body .timeline-txt {
  padding: 1.25em;
}

.timeline .timeline-item .timeline-arrow {
  display: none;
  position: absolute;
  top: 3.75em;
  width: 1.5em;
  height: 1.5em;
  background: white;
  -webkit-box-shadow: 0 0.125em 0.1em rgba(33, 33, 33, 0.1);
          box-shadow: 0 0.125em 0.1em rgba(33, 33, 33, 0.1);
  border: 0.0625em solid rgba(33, 33, 33, 0.1);
  border-color: rgba(33, 33, 33, 0.2);
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%);
          clip-path: polygon(0 0, 0 100%, 100% 100%);
  -webkit-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
}

.timeline .timeline-item .timeline-dot {
  display: none;
  position: absolute;
  top: 5em;
  width: 1em;
  height: 1em;
  border-radius: 2em;
  border: 0.0625em solid rgba(33, 33, 33, 0.1);
  background: #f5f5f5;
  -webkit-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
}

@media (min-width: 992px) {
  .timeline .timeline-item {
    width: 50%;
  }
  .timeline .timeline-item .timeline-arrow {
    display: block;
  }
  .timeline .timeline-item .timeline-dot {
    display: block;
  }
  .timeline .timeline-item:nth-child(odd) {
    float: left;
    margin-bottom: 4em;
  }
  .timeline .timeline-item:nth-child(odd) .timeline-body {
    margin-right: 3em;
  }
  .timeline .timeline-item:nth-child(odd) .timeline-img {
    border-right: 0.0625em solid rgba(33, 33, 33, 0.1);
  }
  .timeline .timeline-item:nth-child(odd) .timeline-arrow {
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
    right: -0.73em;
  }
  .timeline .timeline-item:nth-child(odd) .timeline-dot {
    right: -0.5em;
  }
  .timeline .timeline-item:nth-child(even) {
    float: right;
    margin-top: 4em;
    margin-bottom: 2em;
  }
  .timeline .timeline-item:nth-child(even) .timeline-body {
    margin-left: 3em;
  }
  .timeline .timeline-item:nth-child(even) .timeline-img {
    border-left: 0.0625em solid rgba(33, 33, 33, 0.1);
  }
  .timeline .timeline-item:nth-child(even) .timeline-arrow {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    left: -0.73em;
  }
  .timeline .timeline-item:nth-child(even) .timeline-dot {
    left: -0.5em;
  }
}

.timeline .separator {
  position: absolute;
  height: 100%;
  width: 1em;
  background: #212121;
}

.gradient .timeline-body {
  position: relative;
  background: white;
  z-index: 1;
}

.gradient .timeline-body::before {
  position: absolute;
  border-radius: inherit;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f44336), to(#ff7043));
  background-image: linear-gradient(to bottom, #f44336, #ff7043);
  z-index: -1;
  -webkit-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear;
  opacity: 0;
}

.gradient .timeline-item:hover .timeline-body::before {
  opacity: 1;
}
/*# sourceMappingURL=timeline-layout.css.map */